In [ ]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.sql.utils import AnalysisException
from pyspark.sql.types import StructType, StringType, BinaryType, IntegerType, DoubleType, TimestampType, DateType
from delta.tables import DeltaTable
from pyspark.sql.utils import AnalysisException
from pyspark.storagelevel import StorageLevel
from typing import Union, Optional

# --- Credenciais AWS ---
accessKeyId = ""
secretAccessKey = ""

# --- Sess√£o Spark ---
def create_spark_session() -> SparkSession:
    spark = (
        SparkSession
        .builder
        .appName("Gold Zone")
        .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
        .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
        .enableHiveSupport()
        .getOrCreate()
    )
    
    spark.sparkContext.setLogLevel("WARN")

    conf = spark.sparkContext._jsc.hadoopConfiguration()
    conf.set("spark.sql.legacy.timeParserPolicy","LEGACY")
    conf.set("spark.hadoop.fs.s3a.aws.credentials.provider", "org.apache.hadoop.fs.s3a.TemporaryAWSCredentialsProvider")
    conf.set("fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
    conf.set("fs.s3a.fast.upload", "true")
    conf.set("fs.s3a.bucket.all.committer.magic.enabled", "true")
    conf.set("fs.s3a.directory.marker.retention", "keep")
    conf.set("spark.driver.extraClassPath", "/usr/local/spark/jars/*")
    conf.set("spark.driver.memory", "8g")
    conf.set("spark.executor.memory", "16g")
    conf.set("fs.s3a.access.key", accessKeyId)
    conf.set("fs.s3a.secret.key", secretAccessKey)

    return spark

In [2]:
def create_tempview_from_delta(spark, delta_table_path, view_name):
    """
    Cria uma tempView a partir de uma tabela Delta.
    
    Par√¢metros:
    - delta_table_path (str): Caminho para a tabela Delta
    - view_name (str): Nome da tempView a ser criada
    
    Retorno:
    - None (cria a tempView no SparkSession atual)
    """
   
    if spark is None:
        raise ValueError("Nenhuma SparkSession ativa encontrada")
    
    spark.read.format("delta").load(delta_table_path).createOrReplaceTempView(view_name)
    
    print(f"TempView '{view_name}' criada com sucesso a partir da tabela Delta em: {delta_table_path}")

In [3]:
%%time
spark = create_spark_session()

tabelas_silver = [
    "dim_cliente",
    "dim_profissional",
    "dim_servico",
    "dim_tempo",
    "fato_agendamento",
    "fato_pagamento",
    "dim_promocao"
]

silver = "s3a://dev-lab-02-us-east-2-silver/"
gold   = "s3a://dev-lab-02-us-east-2-gold/"

CPU times: user 7.63 ms, sys: 16.1 ms, total: 23.8 ms
Wall time: 2.47 s

In [4]:
for t in tabelas_silver:
    create_tempview_from_delta(spark, f"{silver}{t}",t )

TempView 'dim_cliente' criada com sucesso a partir da tabela Delta em: s3a://dev-lab-02-us-east-2-silver/dim_cliente
TempView 'dim_profissional' criada com sucesso a partir da tabela Delta em: s3a://dev-lab-02-us-east-2-silver/dim_profissional
TempView 'dim_servico' criada com sucesso a partir da tabela Delta em: s3a://dev-lab-02-us-east-2-silver/dim_servico
TempView 'dim_tempo' criada com sucesso a partir da tabela Delta em: s3a://dev-lab-02-us-east-2-silver/dim_tempo
TempView 'fato_agendamento' criada com sucesso a partir da tabela Delta em: s3a://dev-lab-02-us-east-2-silver/fato_agendamento
TempView 'fato_pagamento' criada com sucesso a partir da tabela Delta em: s3a://dev-lab-02-us-east-2-silver/fato_pagamento
TempView 'dim_promocao' criada com sucesso a partir da tabela Delta em: s3a://dev-lab-02-us-east-2-silver/dim_promocao

In [5]:
for t in tabelas_silver:
    print(t)
    spark.sql(f"select * from {t} limit 1").printSchema()

dim_cliente
root
 |-- id: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- primeiro_nome: string (nullable = true)
 |-- telefone: string (nullable = true)
 |-- email: string (nullable = true)
 |-- data_nascimento: date (nullable = true)
 |-- faixa_etaria: string (nullable = true)
 |-- idade: long (nullable = true)
 |-- dia_semana_nascimento: string (nullable = true)
 |-- estacao_nascimento: string (nullable = true)
 |-- data_cadastro: date (nullable = true)
 |-- dias_como_cliente: integer (nullable = true)
 |-- ativo: boolean (nullable = true)
 |-- segmento_tempo: string (nullable = true)
 |-- origem_dados: string (nullable = true)
 |-- data_carga: timestamp (nullable = true)
 |-- data_exclusao: timestamp (nullable = true)

dim_profissional
root
 |-- id: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- telefone: string (nullable = true)
 |-- email: string (nullable = true)
 |-- especialidade: string (nullable = true)
 |-- data_admissao: date (nullable = true)
 |-- tempo_empresa_meses: double (nullable = true)
 |-- ativo: boolean (nullable = true)
 |-- origem_dados: string (nullable = true)
 |-- data_carga: timestamp (nullable = true)
 |-- data_exclusao: timestamp (nullable = true)

dim_servico
root
 |-- id: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- descricao: string (nullable = true)
 |-- duracao_estimada: integer (nullable = true)
 |-- preco: decimal(10,2) (nullable = true)
 |-- categoria_servico: string (nullable = true)
 |-- ativo: boolean (nullable = true)
 |-- origem_dados: string (nullable = true)
 |-- data_carga: timestamp (nullable = true)
 |-- data_exclusao: timestamp (nullable = true)

dim_tempo
root
 |-- data_completa: date (nullable = true)
 |-- dia: integer (nullable = true)
 |-- mes: integer (nullable = true)
 |-- ano: integer (nullable = true)
 |-- trimestre: integer (nullable = true)
 |-- semana_ano: integer (nullable = true)
 |-- dia_semana_numero: integer (nullable = true)
 |-- nome_dia_semana: string (nullable = true)
 |-- feriado: boolean (nullable = true)
 |-- fim_de_semana: boolean (nullable = true)

fato_agendamento
root
 |-- id: integer (nullable = true)
 |-- cliente_id: integer (nullable = true)
 |-- profissional_id: integer (nullable = true)
 |-- servico_id: integer (nullable = true)
 |-- data_hora: timestamp (nullable = true)
 |-- duracao: integer (nullable = true)
 |-- status: string (nullable = true)
 |-- observacoes: string (nullable = true)
 |-- data_criacao: timestamp (nullable = true)
 |-- data_atualizacao: timestamp (nullable = true)
 |-- ingestion_time: timestamp (nullable = true)
 |-- data_exclusao: timestamp (nullable = true)
 |-- origem_dados: string (nullable = true)
 |-- nome_cliente: string (nullable = true)
 |-- nome_profissional: string (nullable = true)
 |-- nome_servico: string (nullable = true)
 |-- preco_original: decimal(10,2) (nullable = true)
 |-- duracao_estimada: integer (nullable = true)
 |-- especialidade: string (nullable = true)
 |-- promocao_id: integer (nullable = true)
 |-- nome_promocao: string (nullable = true)
 |-- desconto_percentual: decimal(5,2) (nullable = true)
 |-- dia_semana_nome: string (nullable = true)
 |-- dia_semana_numero: integer (nullable = true)
 |-- hora_agendamento: integer (nullable = true)
 |-- periodo_dia: string (nullable = true)
 |-- dias_antecedencia: integer (nullable = true)
 |-- dias_para_agendamento: integer (nullable = true)
 |-- recencia_agendamento: string (nullable = true)
 |-- data_carga: timestamp (nullable = true)
 |-- ativo: boolean (nullable = true)

fato_pagamento
root
 |-- id: integer (nullable = true)
 |-- agendamento_id: integer (nullable = true)
 |-- valor_total: decimal(10,2) (nullable = true)
 |-- forma_pagamento: string (nullable = true)
 |-- status: string (nullable = true)
 |-- data_pagamento: timestamp (nullable = true)
 |-- observacoes: string (nullable = true)
 |-- data_exclusao: timestamp (nullable = true)
 |-- origem_dados: string (nullable = true)
 |-- data_carga: timestamp (nullable = true)
 |-- data_agendamento: timestamp (nullable = true)
 |-- status_agendamento: string (nullable = true)
 |-- duracao: integer (nullable = true)
 |-- nome_cliente: string (nullable = true)
 |-- nome_profissional: string (nullable = true)
 |-- nome_servico: string (nullable = true)
 |-- preco_original: decimal(10,2) (nullable = true)
 |-- data_pagamento_date: date (nullable = true)
 |-- dias_entre_servico_pagamento: integer (nullable = true)
 |-- parcelamento_possivel: boolean (nullable = true)
 |-- categoria_tempo_pagamento: string (nullable = true)
 |-- periodo_pagamento: string (nullable = true)
 |-- dia_semana_pagamento: string (nullable = true)
 |-- status_consolidado: string (nullable = true)
 |-- ativo: boolean (nullable = true)
 |-- diferenca_valor: decimal(11,2) (nullable = true)

dim_promocao
root
 |-- id: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- descricao: string (nullable = true)
 |-- desconto_percentual: decimal(5,2) (nullable = true)
 |-- data_inicio: date (nullable = true)
 |-- data_fim: date (nullable = true)
 |-- ativo: boolean (nullable = true)
 |-- data_exclusao: timestamp (nullable = true)
 |-- ingestion_time: timestamp (nullable = true)
 |-- origem_dados: string (nullable = true)
 |-- qtd_servicos_inclusos: long (nullable = true)
 |-- servicos_associados: string (nullable = true)
 |-- duracao_dias_promocao: integer (nullable = true)
 |-- dias_desde_inicio: integer (nullable = true)
 |-- status_temporal: string (nullable = true)
 |-- categoria_desconto: string (nullable = true)
 |-- mes_inicio: string (nullable = true)
 |-- mes_fim: string (nullable = true)
 |-- trimestre_promocao: string (nullable = true)
 |-- tipo_evento: string (nullable = true)
 |-- data_carga: timestamp (nullable = true)

## üìò `faturamento_mensal`

### üß© Descri√ß√£o da tabela:

Tabela que consolida o faturamento mensal da empresa, permitindo an√°lises por forma de pagamento, servi√ßo e especialidade.

### üìê Regra de neg√≥cio:

Considera todos os pagamentos ativos com data v√°lida e agrupa por m√™s e ano da data de pagamento.

### üßæ Dicion√°rio de dados:

| Campo                  | Tipo          | Descri√ß√£o                                                     |
| ---------------------- | ------------- | ------------------------------------------------------------- |
| `ano`                  | integer       | Ano da data de pagamento.                                     |
| `mes`                  | integer       | M√™s da data de pagamento.                                     |
| `forma_pagamento`      | string        | Forma de pagamento utilizada (ex: cr√©dito, d√©bito, dinheiro). |
| `nome_servico`         | string        | Nome do servi√ßo prestado.                                     |
| `qtd_pagamentos`       | bigint        | Quantidade de pagamentos realizados no per√≠odo.               |
| `valor_total_faturado` | decimal(10,2) | Soma dos valores pagos no per√≠odo.                            |
| `ticket_medio`         | decimal(10,2) | M√©dia dos valores pagos no per√≠odo.                           |

---

In [32]:
df_faturamento_mensal = spark.sql(
"""
SELECT
    YEAR(data_pagamento) AS ano,
    MONTH(data_pagamento) AS mes,
    forma_pagamento,
    nome_servico,
    COUNT(*) AS qtd_pagamentos,
    SUM(valor_total) AS valor_total_faturado,
    ROUND(AVG(valor_total), 2) AS ticket_medio
FROM fato_pagamento
WHERE ativo = TRUE AND data_pagamento IS NOT NULL
and data_pagamento_date is not null
GROUP BY
    YEAR(data_pagamento),
    MONTH(data_pagamento),
    forma_pagamento,
    nome_servico

"""
)
df_faturamento_mensal.show()

+----+---+---------------+--------------------+--------------+--------------------+------------+
| ano|mes|forma_pagamento|        nome_servico|qtd_pagamentos|valor_total_faturado|ticket_medio|
+----+---+---------------+--------------------+--------------+--------------------+------------+
|2019|  3|            pix|  Hidrata√ß√£o Capilar|             8|              526.00|       65.75|
|2019|  6|  cartao_debito|  Hidrata√ß√£o Capilar|             4|              331.00|       82.75|
|2020|  2|            pix|   Barba com Navalha|            11|              650.00|       59.09|
|2020| 10|            pix|       Corte Moicano|            12|              698.50|       58.21|
|2020| 11|       dinheiro|       Corte Moicano|             7|              350.00|       50.00|
|2021|  7|            pix|      Corte Infantil|             5|              295.50|       59.10|
|2021|  8|  cartao_debito|      Barba Completa|             9|              555.00|       61.67|
|2021| 11|       dinheiro|      Corte Infantil|             8|              579.00|       72.38|
|2022|  5| cartao_credito|     Pacote Completo|             9|              548.00|       60.89|
|2022| 11|       dinheiro|        Corte Social|             8|              560.00|       70.00|
|2022| 11| cartao_credito|       Corte Degrad√™|             9|              696.00|       77.33|
|2023|  1|       dinheiro|        Corte Social|            12|              852.50|       71.04|
|2023|  5|            pix|      Barba Completa|            10|              620.50|       62.05|
|2024|  8|  cartao_debito|        Corte Social|            21|             1398.00|       66.57|
|2024| 11|            pix|        P√© de Cabelo|            23|             1507.50|       65.54|
|2020|  4|            pix|        Corte Social|             7|              596.50|       85.21|
|2020|  7|       dinheiro|Pacote Corte + Barba|            11|              915.00|       83.18|
|2020|  7|  cartao_debito|       Corte Degrad√™|             6|              316.00|       52.67|
|2021|  1|            pix|  Hidrata√ß√£o Capilar|            19|             1052.50|       55.39|
|2021|  7|       dinheiro|         Relaxamento|            11|              838.50|       76.23|
+----+---+---------------+--------------------+--------------+--------------------+------------+
only showing top 20 rows

## üìò `desempenho_profissionais`

### üß© Descri√ß√£o da tabela:

Consolida o desempenho financeiro e operacional dos profissionais com base nos atendimentos e pagamentos realizados.

### üìê Regra de neg√≥cio:

Baseada em agendamentos e pagamentos ativos. Considera apenas agendamentos com pagamentos associados.

### üßæ Dicion√°rio de dados:

| Campo                  | Tipo          | Descri√ß√£o                                                      |
| ---------------------- | ------------- | -------------------------------------------------------------- |
| `id_profissional`      | integer       | Identificador do profissional.                                 |
| `nome_profissional`    | string        | Nome completo do profissional.                                 |
| `qtd_atendimentos`     | bigint        | N√∫mero total de agendamentos realizados.                       |
| `valor_total_recebido` | decimal(10,2) | Soma dos valores pagos em atendimentos do profissional.        |
| `ticket_medio`         | decimal(10,2) | Valor m√©dio por atendimento.                                   |
| `dias_ativos_mes`      | integer       | Dias distintos com pelo menos um atendimento realizado no m√™s. |

In [31]:
df_desempenho_profissionais = spark.sql(
"""
SELECT
    profissional_id AS id_profissional,
    p.nome_profissional,
    YEAR(p.data_pagamento_date) AS ano,
    MONTH(p.data_pagamento_date) AS mes,
    COUNT(*) AS qtd_atendimentos,
    SUM(valor_total) AS valor_total_recebido,
    ROUND(AVG(valor_total), 2) AS ticket_medio,
    COUNT(DISTINCT DATE(p.data_pagamento_date)) AS dias_ativos_mes
FROM fato_agendamento AS f
JOIN fato_pagamento AS p
  ON f.id = p.agendamento_id
WHERE f.ativo = TRUE AND p.ativo = TRUE
and data_pagamento_date is not null
GROUP BY
    profissional_id,
    p.nome_profissional,
    YEAR(p.data_pagamento_date),
    MONTH(p.data_pagamento_date)

"""
)
df_desempenho_profissionais.show()

+---------------+-----------------+----+---+----------------+--------------------+------------+---------------+
|id_profissional|nome_profissional| ano|mes|qtd_atendimentos|valor_total_recebido|ticket_medio|dias_ativos_mes|
+---------------+-----------------+----+---+----------------+--------------------+------------+---------------+
|              9|    Roberto Nunes|2024| 10|              16|             1195.00|       74.69|             10|
|              7|     Lucas Mendes|2024|  9|              12|              890.00|       74.17|             10|
|              7|  Ant√¥nio Barbosa|2024| 11|              18|             1239.00|       68.83|             11|
|              7|    Marcos Santos|2022|  9|              51|             3434.50|       67.34|             20|
|              6| Ricardo Ferreira|2023|  7|              15|             1086.50|       72.43|             11|
|              6|  Ant√¥nio Barbosa|2024|  3|              11|              924.00|       84.00|              8|
|              5|    Pedro Almeida|2020|  2|              46|             3139.50|       68.25|             20|
|             12| Ricardo Ferreira|2024| 12|              15|             1105.00|       73.67|              9|
|              7|    Roberto Nunes|2024|  5|              20|             1350.50|       67.53|             17|
|              6|     Gustavo Lima|2024|  7|              10|              806.00|       80.60|              8|
|             12|    Roberto Nunes|2024|  7|              18|             1276.50|       70.92|             13|
|             11|    Pedro Almeida|2020|  2|              50|             3475.50|       69.51|             20|
|              2|     Gustavo Lima|2024| 10|              10|              720.00|       72.00|              8|
|              7|    Marcos Santos|2022|  4|              45|             3040.50|       67.57|             18|
|              8|   Fernando Costa|2023| 10|              30|             2071.50|       69.05|             18|
|              7|    Roberto Nunes|2024|  8|              21|             1379.50|       65.69|             17|
|              7| Ricardo Ferreira|2023|  5|              27|             1913.00|       70.85|             17|
|              9|    Marcos Santos|2024|  7|              21|             1407.00|       67.00|             14|
|             11|    Eduardo Rocha|2019|  8|              78|             4907.50|       62.92|             21|
|              6|     Lucas Mendes|2024|  7|              13|              905.00|       69.62|              7|
+---------------+-----------------+----+---+----------------+--------------------+------------+---------------+
only showing top 20 rows

## üìò `agendamentos_diarios`

### üß© Descri√ß√£o da tabela:

Monitora os agendamentos realizados diariamente, incluindo cancelamentos e m√©tricas operacionais b√°sicas.

### üìê Regra de neg√≥cio:

Considera apenas agendamentos ativos, agrupando por data e dia da semana.

### üßæ Dicion√°rio de dados:

| Campo                         | Tipo    | Descri√ß√£o                                                                        |
| ----------------------------- | ------- | -------------------------------------------------------------------------------- |
| `data_agendamento`            | date    | Data do agendamento.                                                             |
| `qtd_agendamentos`            | bigint  | N√∫mero total de agendamentos no dia.                                             |
| `qtd_cancelamentos`           | bigint  | Quantidade de agendamentos cancelados no dia.                                    |
| `qtd_novos_clientes`          | bigint  | Quantidade de clientes que agendaram pela primeira vez (0 dias de anteced√™ncia). |
| `taxa_ocupacao_profissionais` | double  | Propor√ß√£o m√©dia de uso dos profissionais no dia (%).                             |
| `dia_semana`                  | string  | Nome do dia da semana (ex: Segunda-feira).                                       |
| `fim_de_semana`               | boolean | Indica se o dia √© s√°bado ou domingo.                                             |

In [33]:
df_agendamentos_diarios = spark.sql(
"""
SELECT
    DATE(data_hora) AS data_agendamento,
    COUNT(*) AS qtd_agendamentos,
    SUM(CASE WHEN status = 'cancelado' THEN 1 ELSE 0 END) AS qtd_cancelamentos,
    SUM(CASE WHEN dias_antecedencia = 0 THEN 1 ELSE 0 END) AS qtd_novos_clientes,
    ROUND(100.0 * COUNT(*) / COUNT(DISTINCT profissional_id), 2) AS taxa_ocupacao_profissionais,
    dia_semana_nome AS dia_semana,
    MAX(CASE WHEN dia_semana_nome IN ('S√°bado', 'Domingo') THEN TRUE ELSE FALSE END) AS fim_de_semana
FROM fato_agendamento
WHERE ativo = TRUE
GROUP BY DATE(data_hora), dia_semana_nome
"""
)
df_agendamentos_diarios.show()

+----------------+----------------+-----------------+------------------+---------------------------+----------+-------------+
|data_agendamento|qtd_agendamentos|qtd_cancelamentos|qtd_novos_clientes|taxa_ocupacao_profissionais|dia_semana|fim_de_semana|
+----------------+----------------+-----------------+------------------+---------------------------+----------+-------------+
|      2021-04-23|              44|                3|                 0|                    1100.00|    Friday|        false|
|      2022-12-08|              48|                2|                 0|                    1200.00|  Thursday|        false|
|      2022-12-31|              47|                1|                 0|                    1175.00|  Saturday|        false|
|      2024-09-27|             108|                5|                 0|                    1080.00|    Friday|        false|
|      2021-12-29|              47|                2|                 0|                    1175.00| Wednesday|        false|
|      2022-05-14|              47|                2|                 0|                    1175.00|  Saturday|        false|
|      2021-05-26|              48|                1|                 0|                    1200.00| Wednesday|        false|
|      2022-11-07|              24|                1|                 0|                    1200.00|    Monday|        false|
|      2019-01-09|              36|                1|                 0|                    1200.00| Wednesday|        false|
|      2021-12-16|              47|                2|                 0|                    1175.00|  Thursday|        false|
|      2019-01-16|              33|                1|                 0|                    1100.00| Wednesday|        false|
|      2024-05-22|             107|                3|                 0|                    1070.00| Wednesday|        false|
|      2021-09-11|              47|                1|                 0|                    1175.00|  Saturday|        false|
|      2024-06-27|             111|                2|                 0|                    1110.00|  Thursday|        false|
|      2019-12-05|              36|                4|                 0|                    1200.00|  Thursday|        false|
|      2020-08-15|              42|                2|                 0|                    1050.00|  Saturday|        false|
|      2022-04-21|              48|                1|                 0|                    1200.00|  Thursday|        false|
|      2023-05-10|              53|                4|                 0|                     883.33| Wednesday|        false|
|      2019-01-15|              24|                4|                 0|                    1200.00|   Tuesday|        false|
|      2021-08-26|              46|                1|                 0|                    1150.00|  Thursday|        false|
+----------------+----------------+-----------------+------------------+---------------------------+----------+-------------+
only showing top 20 rows

In [34]:
df_agendamentos_diarios.write.mode("overwrite").format("delta").save(f"{gold}agendamentos_diarios")
df_desempenho_profissionais.write.mode("overwrite").format("delta").save(f"{gold}desempenho_profissionais")
df_faturamento_mensal.write.mode("overwrite").format("delta").save(f"{gold}faturamento_mensal")